* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: white;
}

.main{
    position: absolute;
    display: inline-block;
    top: 15%;
    left: 40%;
    background-color: #3F2B96;
    width: 400px;
    height: 700px;
    clip-path : inset(0 0 0 0 round 20px);
    box-shadow:  -20px -20px 60px #bebebe,
             20px 20px 60px #ffffff;
}

.triangle{
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    clip-path: polygon(0 100%, 100% 0,100% 100%, 0 100%);
    border-radius:  0 0 30px 0;
    position: absolute;
    top: -75px;
    left: 200px;
}

.rectangle{
    width: 200px;
    height: 550px;
    transform: rotate(45deg);
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    border-radius:  0px 0px 30px 30px;
    position: absolute;
    top: -5px;
    left: 200px;
}

.rectangleb{
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    border-radius:  30px 0px 30px 30px;
    position: absolute;
    top: 570px;
    left: 100px;
}

.trianglem{
    width: 550px;
    height: 550px;
    transform: rotate(-45deg);
    background-color: white;
    clip-path: polygon(0 100%, 100% 0,100% 100%, 0 100%);
    border-radius:  0 0 30px 0;
    position: absolute;
    top: -20px;
    left: -290px;
    opacity: 90%;
}

.username{

}

.fa-user{
    position: absolute;
    top: 220px;
    left:40px;
    font-size: 20px;
    color: #B721FF;
}

.textname{
    position: absolute;
    top: 215px;
    left: 70px;
    border: none;
    width: 220px;
    font-size: 20px;
    background: none;
    &:focus{
        outline: none;
    }
}

.line1{
    position: absolute;
    width : 260px;
    height: 2px;
    background: #3F2B96;
    top: 245px;
    left: 40px;
    border-radius: 15px;
}


.fa-lock{
    position: absolute;
    top: 290px;
    left:40px;
    font-size: 20px;
    color: #B721FF;
}

.textpass{
    position: absolute;
    top: 285px;
    left: 70px;
    border: none;
    width: 220px;
    font-size: 20px;
    background: none;
    &:focus{
        outline: none;
    }
}

.line2{
    position: absolute;
    width : 260px;
    height: 2px;
    background: #3F2B96;
    top: 315px;
    left: 40px;
    border-radius: 15px;
}

.submit{
    position: absolute;
    top: 400px;
    left: 100px;
    border-radius: 50px;
    font-size: 30px;
    padding: 10px;
    background-color: white;
    border:  solid whitesmoke;
    cursor: pointer;
    &:hover{
        color: white;
        background: linear-gradient(0deg,#A47CF3,#683FEA);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  0px 0px 180px 0px #9917FF;
  transform: translateY(-2px);
    }

}



@media screen and (max-width: 500px) {
  
    .main{
        left: 0px;
        top: 10px;
        scale: 0.8;
    }
}